body{
background-image: url(/Imagenes/eeeeeeeee.jpg);
background-size: cover;
}

body {
    transition: background-color 0.3s, color 0.3s;
}

.light-theme {
    background-color: white;
    color: black;
}

.dark-theme {
    background-color: hsl(0, 0%, 100%);
    color: #ff0000;
}

button {
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
}